@import "tailwindcss";

@keyframes testimonial-slider {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-50%);
  }
}

.animate-testimonial-slider {
  animation: testimonial-slider 30s linear infinite;
}